
<header [class.scrolled]="scrolled">
  <nav>
    <ul>
      <li><a routerLink="/home" #homeLink>{{ localizationService.getText('navigation.home') }}</a></li>
      <li><a routerLink="/services" #servicesLink>{{ localizationService.getText('navigation.services') }}</a></li>
      <li><a routerLink="/shop" #shopLink>{{ localizationService.getText('navigation.shop') }}</a></li>
      <li><a routerLink="/academy" #academyLink>{{ localizationService.getText('navigation.academy') }}</a></li>
      
      <div class="active-indicator" [ngStyle]="indicatorStyle"></div>
    </ul>
  </nav>
</header>

<a routerLink="/home" class="logo-wrp">
  <img [src]="logo" alt="">
</a>

<div class="lang-wrp">
    <a routerLink="/references" class="nav-link">
      {{ localizationService.getText('navigation.references') }}
    </a>
    <a routerLink="/faq" class="nav-link">
      {{ localizationService.getText('navigation.faq') }}
    </a>
    
    <form class="lang-form" action="">
        <div class="lang-slider-track" #langSliderTrack>
            <span class="lang-label" data-lang="cz" (click)="selectLanguage('cz')" [ngClass]="{'active': (currentLanguage$ | async) === 'cz'}">
                <img [src]="cz_flag_link" [alt]="localizationService.getText('common.language_cz')">
            </span>
            <!-- <span class="lang-label" data-lang="sk" (click)="selectLanguage('sk')" [ngClass]="{'active': (currentLanguage$ | async) === 'sk'}">
                <img [src]="sk_flag_link" [alt]="localizationService.getText('common.language_sk')">
            </span> -->
            <span class="lang-label" data-lang="en" (click)="selectLanguage('en')" [ngClass]="{'active': (currentLanguage$ | async) === 'en'}">
                <img [src]="en_flag_link" [alt]="localizationService.getText('common.language_en')">
            </span>
        </div>
    </form>
</div>

<div class="contact-wrp">
  <div class="contact-link">
    <div class="contact-mail-wrp">
      <div class="mail-icon">
        <img [src]="mail_icon" alt="">
      </div>
      <div class="mail-text">
        info&#64;rpsw.cz
      </div>
    </div>
    <div class="contact-tel-wrp">
      <div class="tel-icon">
        <img [src]="tel_icon" alt="">
      </div>
      <div class="tel-text">
        733 188 328
      </div>
    </div>
  </div>
</div>

<div class="mobile-header">
  <a routerLink="/home" class="m-logo">
    <img [src]="logo" alt="">
  </a>
  <div class="hamburger" (click)="toggleMenu()">
    <div class="hamburger-line" [class.open]="isMenuOpen"></div>
    <div class="hamburger-line" [class.open]="isMenuOpen"></div>
    <div class="hamburger-line" [class.open]="isMenuOpen"></div>
  </div>
</div>


<div class="mobile-menu-wrapper" [class.open]="isMenuOpen">
    <nav class="mobile-nav">
        <div class="main-links">
            <a routerLink="/home" (click)="closeMenu()">{{ localizationService.getText('navigation.home') }}</a>
            <hr>
            <a routerLink="/services" (click)="closeMenu()">{{ localizationService.getText('navigation.services') }}</a>
            <hr>
            <a routerLink="/shop" (click)="closeMenu()">{{ localizationService.getText('navigation.shop') }}</a>
            <hr>
            <a routerLink="/academy" (click)="closeMenu()">{{ localizationService.getText('navigation.academy') }}</a>
            <hr>
            <a routerLink="/references" (click)="closeMenu()">{{ localizationService.getText('navigation.references') }}</a>
            <hr>
            <a routerLink="/faq" (click)="closeMenu()">{{ localizationService.getText('navigation.faq') }}</a>
        </div>
        <div class="mobile-menu-bottom">
            <div class="mobile-lang-wrp">
                <span class="mobile-lang-label" (click)="selectLanguage('cz')" [ngClass]="{'active': (currentLanguage$ | async) === 'cz'}">
                    {{ localizationService.getText('common.language_cz_short') || 'CZ' }}
                </span>
                
                <span class="mobile-lang-label" (click)="selectLanguage('en')" [ngClass]="{'active': (currentLanguage$ | async) === 'en'}">
                    {{ localizationService.getText('common.language_en_short') || 'EN' }}
                </span>
            </div>
            <div class="mobile-contact-wrp">
                <div class="mobile-contact-link">
                    <img [src]="tel_icon" alt="Telefon">
                    <span>733 188 328</span>
                </div>
                <div class="mobile-contact-link">
                    <img [src]="mail_icon" alt="Email">
                    <span>info&#64;rpsw.cz</span>
                </div>
            </div>
        </div>
    </nav>
</div>