<!-- <div class="dialog-overlay" [class.visible]="isVisible">
  <div class="dialog-container">
    <div class="dialog-header">
      <h2>{{ title }}</h2>
    </div>
    <div class="dialog-content">
      <p>{{ message }}</p>
    </div>
    <div class="dialog-actions">
      <button class="neutral_button" (click)="cancel()">Zrušit</button>
      <button class="confirm_button" (click)="confirm()">Potvrdit</button>
    </div>
  </div>
</div> -->
<div class="dialog-overlay" [class.visible]="isVisible">
  <div class="dialog-container">
    <div class="dialog-header">
      <h2>{{ title }}</h2>
    </div>
    <div class="dialog-content">
      <p>{{ message }}</p>
    </div>
    <div class="dialog-actions">
      <button class="neutral_button" (click)="cancel()">Zrušit</button>
      <button class="confirm_button" (click)="confirm()">Potvrdit</button>
    </div>
  </div>
</div>
