 <!-- <div *ngIf="isVisible" class="dialog-overlay">
      <div class="dialog-container" [ngClass]="getDialogClass()">
        <div class="dialog-header">
          <h2 class="dialog-title">{{ title }}</h2>
        </div>
        <div class="dialog-body">
          <p class="dialog-message">{{ message }}</p>
        </div>
        <div class="dialog-footer">
          <button (click)="ok()" class="confirm_button">OK</button>
        </div>
      </div>
    </div> -->
    <div *ngIf="isVisible" class="dialog-overlay">
  <div class="dialog-container" [ngClass]="getDialogClass()">
    <div class="dialog-header">
      <h2 class="dialog-title">{{ title }}</h2>
    </div>
    <div class="dialog-body">
      <p class="dialog-message">{{ message }}</p>
    </div>
    <div class="dialog-footer">
      <button (click)="ok()" class="confirm_button">OK</button>
    </div>
  </div>
</div>
