<div class="main-content">
  <div class="projects-section">
    <!-- ZMĚNA ZDE: Použijeme proměnnou z TS -->
    <div class="header-1">{{ header_1_text }}</div>

    <div class="projects-container">
      <!-- ZMĚNA ZDE: Použijeme proměnné z TS pro hlavičky tabulky -->
      <div class="projects-header animated-project-item" [style.animation-delay]="'0s'">
        <div class="project-title-header">{{ table_header_title_text }}</div>
        <div class="project-duration-header">{{ table_header_duration_text }}</div>
        <div class="project-client-header">{{ table_header_client_text }}</div>
      </div>

      <div *ngFor="let project of projects; let i = index"
           class="project-item animated-project-item"
           [ngClass]="{'active': project.isActive}"
           [style.animation-delay]="(i + 1) * 0.1 + 's'">
        <div class="project-overview" (click)="toggleProject(project)">
          <!-- project.name, .duration, .client jsou již přeložené -->
          <div class="project-title">{{ project.name }}</div>
          <div class="project-duration">{{ project.duration }}</div>
          <div class="project-client">{{ project.client }}</div>
          <div class="project-toggle-icon">
            <span class="arrow" [ngClass]="{'rotated': project.isActive}">&gt;</span>
          </div>
        </div>

        <div class="project-description" (click)="toggleProject(project)">
          <!-- project.description je již přeložený, použijeme innerHTML pro formátování -->
          <p [innerHTML]="project.description"></p>
        </div>
      </div>
    </div>
    
    <!-- <div class="button-wrp">
      <div class="button">
        <p class="ref-text">{{ more_button_prompt_text }}</p>
        <a href="https://www.regiopartner.cz/archiv-ukoncenych-projektu-1404041473.html" class="ref-button" target="_blank">{{ more_button_link_text }}</a>
      </div>
    </div> -->
  </div>
</div>