
<div class="table-responsive">
 
  <table [class.fit-content-table]="!isFullWidth">
    <caption *ngIf="tableCaption">
      <div class="caption-content-wrapper">
        <div class="caption-text">
          {{ tableCaption }}
        </div>
      </div>
    </caption>
    <thead>
      <tr>
        <th *ngFor="let col of columnDefinitions">
          <ng-container>
            <span class="header-content">
              {{ col.header }}
            </span>
          </ng-container>
        </th>
        <ng-container *ngFor="let button of buttons">
          <th *ngIf="button.isActive" class="button-header">
            {{ button.display_name }}
          </th>
        </ng-container>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="data && data.length > 0; else noDataContent">
        <tr *ngFor="let item of data">
          <ng-container *ngFor="let col of columnDefinitions">
            <td *ngIf="!col.hidden">
              <ng-container [ngSwitch]="col.type">
                <ng-container *ngSwitchCase="'image'">
                  <img [src]="getCellValue(item, col)" alt="Obrázek" class="table-cell-image" *ngIf="getCellValue(item, col)">
                  <span *ngIf="!getCellValue(item, col)">Není obrázek</span>
                </ng-container>
                <ng-container *ngSwitchCase="'link'">
                  <a [href]="getCellValue(item, col)" target="_blank">{{ getCellValue(item, col) }}</a>
                </ng-container>
                <ng-container *ngSwitchDefault>
                  {{ getCellValue(item, col) }}
                </ng-container>
              </ng-container>
            </td>
          </ng-container>
          <ng-container *ngFor="let button of buttons">
            <td *ngIf="button.isActive" class="action-button-cell">
              <button
                [class]="button.type"
                (click)="handleAction(item, button.type)">
                {{ button.display_name }}
              </button>
            </td>
          </ng-container>
        </tr>
      </ng-container>
      <ng-template #noDataContent>
        <tr>
          <td [attr.colspan]="colspanValue" class="no-data-msg">
            Nebyla nalezena žádná data.
          </td>
        </tr>
      </ng-template>
    </tbody>
  </table>
</div>
 <div class="toolbar">
<button class="delete_button" (click)="deleteAll()">
      Smazat vše
    </button>
    <label class="checkbox-container">
      <input type="checkbox" [(ngModel)]="isFullWidth">
      Zobrazit tabulku na šířce stránky
    </label>

  </div>


