 .container {
            max-width: 900px;
            margin: 20px auto;
            padding: 30px 40px;
            border-radius: 8px;
            color: #fff;
        }
        h1 {
            margin-top: 50px;

            text-align: center;
            margin-bottom: 30px;
            font-size: 2.2em;
        }
        h2 {
            color: #a67dff; /* Jasnější fialová */
            margin-top: 30px;
            margin-bottom: 15px;
            font-size: 1.8em;
            border-bottom: 2px solid #e0e0e0;
            padding-bottom: 5px;
        }
        h3 {
            color: #444;
            margin-top: 20px;
            margin-bottom: 10px;
            font-size: 1.3em;
        }
        p {
            margin-bottom: 10px;
        }
        ul {
            list-style: disc;
            margin-left: 20px;
            margin-bottom: 10px;
        }
        ol {
            list-style: decimal;
            margin-left: 20px;
            margin-bottom: 10px;
        }
        strong {
            font-weight: bold;
        }
        em {
            font-style: italic;
        }
        a {
            color: #a67dff;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
        .last-update {
            text-align: right;
            font-size: 0.85em;
            color: #777;
            margin-top: 40px;
            border-top: 1px solid #eee;
            padding-top: 15px;
        }

@media (max-width: 905px){
    h1{
        margin-top: 0;
    }
}