<header>
  <div class="header-item">
    <ng-container *ngIf="isLoggedIn && userEmail">
      {{ userEmail }} |
    </ng-container>
    <ng-container *ngIf="!isLoggedIn && !userEmail">
      Nepřihlášený uživatel |
    </ng-container>
  </div>
  <div class="header-item">
    <ng-container *ngIf="isLoggedIn && userRole">
      {{ userRole }} |
    </ng-container>
  </div>
  <div class="header-item">
  {{ currentDate | date:'HH:mm:ss d. MMMM yyyy' }}
</div>
</header>
<div class="admin-dashboard-wrapper">
  <aside class="admin-sidebar">
    <nav class="admin-nav">
      <ul>
        <li *ngIf="hasPermission('view-dashboard')"><a routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</a></li>
        <li *ngIf="hasPermission('view-user-requests')"><a routerLink="/admin/user-request" routerLinkActive="active">User Requests</a></li>
        <li *ngIf="hasPermission('manage-administrators')"><a routerLink="/admin/administrators" routerLinkActive="active">Administrátoři</a></li>
        <li *ngIf="hasPermission('view-business-logs')"><a routerLink="/admin/business-logs" routerLinkActive="active">Business Logs</a></li>
        <li *ngIf="hasPermission('view-personal-info')"><a routerLink="/admin/personal-info" routerLinkActive="active">Osobní Informace</a></li>
      </ul>
    </nav>
    <div class="sidebar-footer">
      <button class="delete_button" (click)="logout()">Logout</button>
    </div>
  </aside>

  <main class="admin-content">
    <router-outlet></router-outlet>
  </main>
</div>
