<div class="main-content">
  <div class="faq-section">
    <div class="header-1">{{ header_1_text }}</div>

    <div class="faq-container">
      <div *ngFor="let item of faqItems; let i = index"
           class="faq-item animated-faq-item"
           [ngClass]="{'active': item.isActive}"
           [style.animation-delay]="i * 0.1 + 's'">
        <div class="faq-question" (click)="toggleFaq(item)">
          <h3>{{ item.question }}</h3>
          <div class="faq-indicator">
            <span class="faq-arrow" [ngClass]="{'rotated': item.isActive}">&gt;</span>
          </div>
        </div>
        <div class="faq-answer" (click)="toggleFaq(item)">
          <p [innerHTML]="item.answer"></p>
        </div>
      </div>
    </div>
  </div>

  <div class="write-us-wrp">
    <div class="write-us-text">
      {{ write_us_prompt_text }}
    </div>
    <div class="write-us-icons">
      <a href="https://www.instagram.com/rpsw.cz" class="icon-wrp">
        <img [src]="ig_icon" alt="Instagram">
      </a>
      <a href="https://www.facebook.com/profile.php?id=61579702352722" class="icon-wrp">
        <img [src]="in_icon" alt="Facebook">
      </a>
      <a href="mailto:info@rpsw.cz" class="icon-wrp">
        <img [src]="email_icon" alt="Facebook">
      </a>
    </div>
  </div>
</div>